/* Reset*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Sfondo giallo*/
section span {
    background-color: #FFFF00;
}

/* Sfondo celeste*/

/* Bordo tabella*/
table {
    border-collapse: collapse;
  }

/* Background-image*/

header {
    background-image: url("../img/pattern.png");
    height: 100px;
    background-color: #4EA0FF;
    
}

.img-monitor {
    background-image: url("../img/monitor.jpg");
    width: 271px;
    height: 206px;
    
}

.img-graph {
    background-image: url("../img/graph.jpg");
    width: 271px;
    height: 206px;
    margin-top: 14px;
    
}

/* Classi ROBOTO*/
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }